@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;

}
body{
    
    overflow-x: hidden;
    font-size: 16px;
    background-color: rgba(37, 37, 37, 1)
}
ul{
    display: flex;
    padding: 0;
    min-width: 500px;
    justify-content: space-between;
}
#HomePage{
    min-height: 500px;
    // background-color: rgba(37, 37, 37, 1)
}
a{
    font-size: 1.5em;
    color: #8B8686;
    text-decoration: none;
    font-weight: 700;
}
.four-blocks{
    background-color: white;
    span{
        font-size: 1.8125em;
        font-weight: 400;
    }
}
.test{
    background-color: white;
    width: 200px;
    height: 200px;
}

.swiper {
    width: 100%;
    height: 40em;
}

// .swiper-slide:nth-child(2){
//     .backgr{
//         top: -10%;
//     }
// }

.swiper-slide {
    // text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    h1{
        position: absolute;
        left: 3%;
        top: 30%;
        font-size: 5.875em;
        font-weight: 400;
        color: rgba(69, 56, 56, 1);
        text-align: left;
        width: 35%;
    }
    button{
        font-family: 'PT Sans Narrow', sans-serif;
        position: absolute;
        top: 70%;
        left: 5%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: transparent;
        border-radius: 5px;
        padding: 15px 30px;
        font-weight: 400;
        font-size: 1.875em;
    }
    img{
        position: absolute !important;
        top: 0%;
        left: 40%;
        
    }
    .shoe{
        z-index: 4;
        width: 50%;
    }
    .backgr{
        top: 10%;
        left: 20%;
        z-index: 3;
        max-width: 517px;
    }
    .svg{
        z-index: 2;
        left: 40%;
        width: 60%;
       
    }
}

  .swiper-slide img {
    // display: block;
    // width: 100%;
    // height: 100%;
    object-fit: cover;
  }
.svg{
    position: absolute;
}
.store{
    .linear{
        text-align: center;
        // padding-top: 200px;
        // background: linear-gradient(180deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.25856) 49.3%, rgba(0, 0, 0, 0) 100%);
    }
    img{
        max-width: 700px;
    }
    h1{
        font-size: 4em;

    }
   .price{
        background-color: rgba(171, 171, 171, 1);
        color: white;
        font-size: 2.25em;
   }
  p{
    font-size: 2em;
  }
  .size{
    font-size: 1.5em;
  }
}

.color{
    width: 50px;
    height: 50px;
}
.boxed label {
    display: inline-block;
    text-align: center;
    width: 50px;
    padding: 10px;
    border-radius:50px;
    border: solid 2px #ccc;
    transition: all 0.3s;
  }
  
  .boxed input[type="radio"] {
    display: none;
  }
  
  .boxed input[type="radio"]:checked + label {
    background-color: rgba(255, 210, 51, 1);
}
#red{
    background-color: red;
}
#black {
    background-color: black;
}
#white {
    background-color: white;
}
#blue{
    background: linear-gradient(0deg, #00D1FF, #00D1FF),
                linear-gradient(0deg, #FFFFFF, #FFFFFF);

}
#green{
    background: linear-gradient(0deg, #2D7D68, #2D7D68),
                linear-gradient(0deg, #D9D9D9, #D9D9D9);

}
input[type="radio"]:checked + .color {
    // background-color: transparent !important;
    border: 5px solid rgb(0, 0, 0);
}
.back{
    color: white;
    position: absolute;
    left: 0;
    // top: 1%;
    font-size: 40px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.load{
    position: absolute;
    left: 50%;
    top:50%;
}
#contact{
    background-color: #000000;
}
.facebook,.instagram,.twitter{
    
    min-width: 20%;
    height: 136px;
    
    a{
        font-family:Arial, Helvetica, sans-serif;
        color: white;
        font-size: 2em;
    }
    a:hover{
        color: #122;
    }
}
.facebook{
    background: linear-gradient(90deg, #125DB0 3.98%, rgba(255, 255, 255, 0.7) 100%);
}
.instagram{
    background: linear-gradient(90deg, #FF4747 0%, rgba(255, 184, 184, 0.7) 100%);
}
.twitter{
    background: linear-gradient(90deg, #38A6FF 0%, rgba(56, 166, 255, 0.7) 100%);

}
.fa-brands{
    font-size: 30px;
    color: white;
}
.bg-contact,
.bg-write{
    background-image: url('../img/bg-contact.jfif');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(255, 255, 255, 1);
    background-size: cover;
    min-height: 300px;
}
.bg-write{
    font-size: 1.5em;
    background-image: url('../img/bg-write.png');
    h1{
        color: white;
    }
    input{
        width: 30%;
    }
    button{
        background: linear-gradient(90deg, #3471B4 0%, #F05858 53.86%, #39A4FA 100%);
        color: white;
        border: none;
        padding: 10px !important;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@media (max-width:1200px){
    .swiper-slide{
        h1{
            display: none;
            // top: 60%;
            // left: 40%;
            // width: 70%;
        }
    }
    
}
@media (max-width:1000px){
    body{
        font-size: 13px;
    }
}

@media (max-width:800px){
    .store{
        width: 100%;
        .linear{
            text-align: start;
        }
        .boot{
            width: 80%;
        }
        .logo{
            width: 70%;
        }
    }
    .swiper-slide{
        h1{
            display: none;
        }
        .svg{
            display: none;
        }
        img{
            top: 20%;
            left: -1%;
            width: 90%;
        }
        
        .shoe{
            top:-20% !important;
        }
        button{
            top: 80%;
            // position: sticky;
        }
        .backgr{
            display: none;
        }
        img{
            top: 0% !important;
        }
    }
    header{
        width: 100%;
    }
    nav{
        justify-content: end !important;
    }
    .four-blocks{
        .block{
            border-right: none !important;
            border-bottom: 5px solid;
        }
    }
    .shoe{
        width: 100% !important;
    }


    .nav-bar {
        position: absolute;
        background-color: #122;
        top: 0;
        right: 100%;
        height: 100vh;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: position 2.9s;
        -webkit-transition: position 2.9s;
        -moz-transition: position 2.9s;
        -ms-transition: position 2.9s;
        -o-transition: position 2.9s;
    }
    
    .toggle {
        right: 0;
        top: 6%;
        box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
        z-index: 100;
        position: fixed;
    }
    
    .toggle-menu {
        background-color: rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 20px;
        right: 50px;
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px 2px 2px 3px;
        border-radius: 5px;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .line {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: #fff;
        transition: transform 0.2s ease-out;
        -webkit-transition: transform 0.2s ease-out;
        -moz-transition: transform 0.2s ease-out;
        -ms-transition: transform 0.2s ease-out;
        -o-transition: transform 0.2s ease-out;
    }
    ul{
        max-width: 100px;
        display: inline;
    }
    .toggle .line1 {
        background-color: #000000;
        transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
    }
    
    .toggle .line2 {
        display: none;
    }
    
    .toggle .line3 {
        background-color: #000000;
        transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
    }
    
    .toggle .toggle-menu {
        background-color: white;
    }
    
    .nav-list {
        list-style: none;
    }
    
    .nav-list-item {
        text-align: center;
        padding: 10px 0;
    }
    
    .nav-link {
        color: #fff;
        font-size: 22px;
        text-decoration: none;
        position: relative;
        padding-bottom: 4px;
    }
    
    .nav-link::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 0.4s ease-in-out;
        transform-origin: left;
        -webkit-transition: transform 0.4s ease-in-out;
        -moz-transition: transform 0.4s ease-in-out;
        -ms-transition: transform 0.4s ease-in-out;
        -o-transition: transform 0.4s ease-in-out;
    }
    
    .nav-link:hover::before {
        transform: scaleX(1);
    }
}
@media (max-width:400px) {
    .swiper-slide{
      .shoe{
        top: 20% !important;
    }  
    }
    
}